In [93]:
import csv
import pandas as pd
import os, os.path,time
import matplotlib.pyplot as plt
import numpy as np
from numpy import expand_dims
import cv2
from PIL import Image
from keras.preprocessing.image import ImageDataGenerator

In [94]:
data=pd.read_csv("dataset.csv")
data.head()

   age  gender image_name                                             pixels
0   25       1  first.jpg  99 28 128 201 206 201 186 139 84 71 28 118 214...
1   26       1  first.jpg  91 142 172 187 195 194 189 178 111 53 112 157 ...
2   30       1  first.jpg  106 53 81 100 132 159 149 141 118 70 48 82 110...

In [95]:
#convert pixels into numpy array
data['pixels']=data['pixels'].apply(lambda x: np.array(x.split(), dtype="float32"))
data.head()

   age  gender image_name                                             pixels
0   25       1  first.jpg  [99.0, 28.0, 128.0, 201.0, 206.0, 201.0, 186.0...
1   26       1  first.jpg  [91.0, 142.0, 172.0, 187.0, 195.0, 194.0, 189....
2   30       1  first.jpg  [106.0, 53.0, 81.0, 100.0, 132.0, 159.0, 149.0...

# Checking dimension and length of data

In [96]:
# arr = []
# for i in range(len(data)):
#     arr.append((data['pixels'][i]).shape)
#     print(f"Dimension of {i} image :",arr[i])

for i in range(len(data)):
    print(f"Dimension of {i} image :",(data['pixels'][i]).shape)
# print(arr[:1])
print("numbers of data in a dataset : ",len(data))

Dimension of 0 image : (100,)
Dimension of 1 image : (100,)
Dimension of 2 image : (100,)
numbers of data in a dataset :  3

In [107]:
X = []
for i in range(len(data)):
    print(data['pixels'][i].dtype)
    print(data['pixels'][i].shape)
    X.append(np.array(data['pixels'].tolist()))

float32
(100,)
float32
(100,)
float32
(100,)
[array([[ 99.,  28., 128., 201., 206., 201., 186., 139.,  84.,  71.,  28.,
        118., 214., 211., 217., 214., 208., 202., 151.,  53.,  64., 187.,
        207., 200., 178., 177., 198., 202., 170.,  53.,  79.,  82., 164.,
        176.,  89.,  93., 118., 165., 187., 117.,  97., 131., 186., 196.,
        159., 129., 124., 170., 196., 155., 192., 203., 202., 193., 194.,
        206., 204., 201., 187., 149., 150., 170., 135., 157., 182., 185.,
        183., 173., 168., 143.,  65., 166., 144., 154., 162., 162., 168.,
        169., 167., 105.,  23., 134., 168., 158., 178., 181., 176., 158.,
        112.,  87.,  29.,  65., 177., 188., 186., 161., 113.,  85.,  97.,
        101.],
       [ 91., 142., 172., 187., 195., 194., 189., 178., 111.,  53., 112.,
        157., 176., 193., 207., 213., 208., 200., 158.,  64., 132., 157.,
        157., 174., 162., 175., 215., 190., 133.,  84., 155., 158., 161.,
        133., 136., 157., 204., 134., 120.,  76., 145., 169., 181., 160.,
        170., 180., 187., 157., 162., 102., 133., 147., 180., 202., 206.,
        200., 171., 186., 187., 131., 143., 147., 165., 195., 210., 200.,
        181., 179., 182., 108., 126., 169., 184., 197., 198., 171., 164.,
        155., 164.,  73., 130., 133., 172., 190., 201., 196., 191., 186.,
        121.,  53., 143.,  84., 103., 145., 179., 199., 207., 192.,  86.,
         56.],
       [106.,  53.,  81., 100., 132., 159., 149., 141., 118.,  70.,  48.,
         82., 110., 140., 173., 186., 194., 201., 198., 116.,  82., 123.,
        130., 164., 183., 190., 195., 204., 211., 155., 117., 125., 114.,
        116., 142., 185., 194., 161., 145., 125., 142., 158., 145., 148.,
        160., 180., 195., 135., 144.,  99., 132., 172., 188., 179., 176.,
        182., 202., 197., 199., 131.,  92.,  97., 168., 182., 171., 179.,
        201., 200., 164.,  84.,  51.,  67., 116., 154., 164., 173., 192.,
        191.,  64.,  72.,  44.,  54.,  91., 132., 158., 173., 183.,  86.,
         32.,  88.,  54.,  54.,  86., 131., 171., 172.,  80.,  23.,  55.,
         82.]], dtype=float32), array([[ 99.,  28., 128., 201., 206., 201., 186., 139.,  84.,  71.,  28.,
        118., 214., 211., 217., 214., 208., 202., 151.,  53.,  64., 187.,
        207., 200., 178., 177., 198., 202., 170.,  53.,  79.,  82., 164.,
        176.,  89.,  93., 118., 165., 187., 117.,  97., 131., 186., 196.,
        159., 129., 124., 170., 196., 155., 192., 203., 202., 193., 194.,
        206., 204., 201., 187., 149., 150., 170., 135., 157., 182., 185.,
        183., 173., 168., 143.,  65., 166., 144., 154., 162., 162., 168.,
        169., 167., 105.,  23., 134., 168., 158., 178., 181., 176., 158.,
        112.,  87.,  29.,  65., 177., 188., 186., 161., 113.,  85.,  97.,
        101.],
       [ 91., 142., 172., 187., 195., 194., 189., 178., 111.,  53., 112.,
        157., 176., 193., 207., 213., 208., 200., 158.,  64., 132., 157.,
        157., 174., 162., 175., 215., 190., 133.,  84., 155., 158., 161.,
        133., 136., 157., 204., 134., 120.,  76., 145., 169., 181., 160.,
        170., 180., 187., 157., 162., 102., 133., 147., 180., 202., 206.,
        200., 171., 186., 187., 131., 143., 147., 165., 195., 210., 200.,
        181., 179., 182., 108., 126., 169., 184., 197., 198., 171., 164.,
        155., 164.,  73., 130., 133., 172., 190., 201., 196., 191., 186.,
        121.,  53., 143.,  84., 103., 145., 179., 199., 207., 192.,  86.,
         56.],
       [106.,  53.,  81., 100., 132., 159., 149., 141., 118.,  70.,  48.,
         82., 110., 140., 173., 186., 194., 201., 198., 116.,  82., 123.,
        130., 164., 183., 190., 195., 204., 211., 155., 117., 125., 114.,
        116., 142., 185., 194., 161., 145., 125., 142., 158., 145., 148.,
        160., 180., 195., 135., 144.,  99., 132., 172., 188., 179., 176.,
        182., 202., 197., 199., 131.,  92.,  97., 168., 182., 171., 179.,
        201., 200., 164.,  84.,  51.,  67., 116., 154., 164., 173., 192.,
        191.,  64.,  72.,  44.,  54.,  91., 132., 158., 173., 183.,  86.,
         32.,  88.,  54.,  54.,  86., 131., 171., 172.,  80.,  23.,  55.,
         82.]], dtype=float32), array([[ 99.,  28., 128., 201., 206., 201., 186., 139.,  84.,  71.,  28.,
        118., 214., 211., 217., 214., 208., 202., 151.,  53.,  64., 187.,
        207., 200., 178., 177., 198., 202., 170.,  53.,  79.,  82., 164.,
        176.,  89.,  93., 118., 165., 187., 117.,  97., 131., 186., 196.,
        159., 129., 124., 170., 196., 155., 192., 203., 202., 193., 194.,
        206., 204., 201., 187., 149., 150., 170., 135., 157., 182., 185.,
        183., 173., 168., 143.,  65., 166., 144., 154., 162., 162., 168.,
        169., 167., 105.,  23., 134., 168., 158., 178., 181., 176., 158.,
        112.,  87.,  29.,  65., 177., 188., 186., 161., 113.,  85.,  97.,
        101.],
       [ 91., 142., 172., 187., 195., 194., 189., 178., 111.,  53., 112.,
        157., 176., 193., 207., 213., 208., 200., 158.,  64., 132., 157.,
        157., 174., 162., 175., 215., 190., 133.,  84., 155., 158., 161.,
        133., 136., 157., 204., 134., 120.,  76., 145., 169., 181., 160.,
        170., 180., 187., 157., 162., 102., 133., 147., 180., 202., 206.,
        200., 171., 186., 187., 131., 143., 147., 165., 195., 210., 200.,
        181., 179., 182., 108., 126., 169., 184., 197., 198., 171., 164.,
        155., 164.,  73., 130., 133., 172., 190., 201., 196., 191., 186.,
        121.,  53., 143.,  84., 103., 145., 179., 199., 207., 192.,  86.,
         56.],
       [106.,  53.,  81., 100., 132., 159., 149., 141., 118.,  70.,  48.,
         82., 110., 140., 173., 186., 194., 201., 198., 116.,  82., 123.,
        130., 164., 183., 190., 195., 204., 211., 155., 117., 125., 114.,
        116., 142., 185., 194., 161., 145., 125., 142., 158., 145., 148.,
        160., 180., 195., 135., 144.,  99., 132., 172., 188., 179., 176.,
        182., 202., 197., 199., 131.,  92.,  97., 168., 182., 171., 179.,
        201., 200., 164.,  84.,  51.,  67., 116., 154., 164., 173., 192.,
        191.,  64.,  72.,  44.,  54.,  91., 132., 158., 173., 183.,  86.,
         32.,  88.,  54.,  54.,  86., 131., 171., 172.,  80.,  23.,  55.,
         82.]], dtype=float32)]

# creating new csv file for data agumentation

In [97]:
new_dict = {
    'age':[],
    'gender':[],
    'image_name':[],
    'pixels':[]
    }
df = pd.DataFrame(new_dict)
for en,file in enumerate(data):
    print((file))
df.to_csv('dataset2.csv',index=False)

age
gender
image_name
pixels

In [100]:
dataImage = data['pixels'][0]
imageNew = expand_dims(dataImage, 0)
imageDataGen = ImageDataGenerator(horizontal_flip=True)
iterator = imageDataGen.flow(imageNew, batch_size=1)

ValueError: ('Input data in `NumpyArrayIterator` should have rank 4. You passed an array with shape', (1, 100))

In [24]:
new_dict = {
    'sn':[],
    'age':[],
    'gender':[],
    'image_name':[],
    'pixel':[]
    }
df = pd.DataFrame(new_dict)
for en,file in enumerate(load_images_from_folder()):
    print(file)
    img_file = Image.open(file)
    width, height = img_file.size
    
    # print('width,height',width,height) 
    #ans is 200 200

    format=img_file.format
    mode=img_file.mode

    #converting into gray scale
    #here L is single channel mode which is generally for converting into greyscale
    img_grey = img_file.convert('L')
    
    #converting into numpyarray
    #value=np.asarray(img_grey)
    value=np.asarray(img_grey.getdata(),dtype=np.int).reshape((img_grey.size[1],img_grey.size[0]))
    # print('value:',type(value),value)    
    
    #pandas feature 2d to 1d 
    value=value.flatten()
    # print(type(value))
    # print(value.shape)
    tostr = lambda x: [str(y) for y in x]
    
    name_array = ' '.join(tostr(value))
    # print(name_array)
    # ,age,gender,image_name,pixel
    # print(new_data)
    df.loc[en] = [1,12,0,'apple.jpg',name_array]
df.to_csv('dataset.csv',index=False)

Empty DataFrame
Columns: [sn, age, gender, image_name, pixel]
Index: []